body {
    margin: 0;
    font-family: 'Courier New', monospace;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
}

.terminal {
    width: 80%;
    max-width: 600px;
    /* Limit the width for better readability on large screens */
    height: 60%;
    max-height: 400px;
    /* Limit the height for better readability on large screens */
    background-color: black;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.terminal-header {
    background-color: #fff;
    padding: 5px;
}

.terminal-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.terminal-body {
    padding: 10px;
    flex-grow: 1;
    overflow-y: scroll;
}

#output {
    margin-bottom: 10px;
}

#command-input {
    width: 100%;
    padding: 5px;
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
}

a {
  color: #fff;
  text-decoration: none;
}
  